@font-face
{
    font-family: 'Varela Round';
    src: url(/frontend/recources/VarelaRound-Regular.ttf);
}

body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:  rgb(255,249,239);
    font-family: 'Varela Round';
    overflow: hidden;
}

li, a, button 
{
    font-family: 'Varela Round';
    font-weight: 500;
    font-size: 16px;
    color: rgb(58, 56, 56);
    text-decoration: none;
}

header 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px 10%;
    position: sticky; top: 0;
    background-color:  rgb(255,249,239);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.logo
{
    margin-right: auto;
}
.navlinks
{
    list-style: none
}
.navlinks li
{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a
{
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover
{
    color: #F59942;
}

button
{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #F59942;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: bold;
}

button:hover
{
    background-color: white;
    color: #F59942;
    border: #F59942 2px solid;
}

.start
{
    display: inline-block;
      margin-top: 12px;
      padding: 10px 20px;
      border: 2px solid white;
      border-radius: 20px;
      background: transparent;
      color: white;
      font-weight: bold;
      text-decoration: none;
      transition: background 0.2s, color 0.2s;
}
 .start:hover {
      background-color: white;
      color: #F59942;
    }
.hero
{
    margin: 80px auto; 
    padding: 40px 60px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 20px;
    background-color: #F59942;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    height: 560px;
    width: 1182px;
    color: white;
}
