.registrationPage 
{
  background-color: #FFF9EF;;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #3B7080;
}

@media (max-width: 900px) 
{
  .registrationPage {
    padding: 1rem 0;
  }
}

.registrationContainer 
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  min-width: 900px;
  max-height: 1000px;
}

.registration 
{
  display: flex;
  background-color: white;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 2rem;
  width: 1100px;
  height: 580px;
  gap: 2rem;
}

.imageContainer {
  width: 500px;
  height: 510px;
  background-image: url('../../../recources/SVG files/gear.svg');
  background-position: center;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent */
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white; /* optional: make text readable on glass */
  z-index: 10;
  position: relative;
}

.registrationForm 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 500px;
  height: 510px;
  background-color: #fff;
}

.registrationForm hr 
{
  border: 1px solid #3B7080;
  border-radius: 20px;
  width: 450px;
  margin: 0.6rem;
}

.activeForm {
  color: #f59643;
}

.backButton {
  color: #f59643;
  font-size: 4rem;
  background-color: transparent;
  height: 62px;
}
.backButton:hover {
  color: #3B7080;
}

.pagination 
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pagination h2 
{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #3B7080;
  border-radius: 1000px;
}

.registrationInputField 
{
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.registrationTextInput 
{
  color: black;
  border:#fff;
  width: 350px;
  height: 40px;
  border-radius: 20px;
  padding: 0 1rem;
  font-size: 14px;
  background-color: rgb(248, 240, 230);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registrationTextInput:focus,
.registrationTextInput:active{
  outline:none;
}

.registrationNextButton {
  border-radius: 30px;
  background-color: #f59643;
  color: #FFF9EF;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15%;
  width: 110px;
  height: 40px;

  font-size: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} .registrationNextButton:hover {
  background-color: #FFF9EF;
  color: #f59643;
}

.surnameInputContainer 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.surnameInput 
{
  flex: 1;
  height: 40px;
  width: 250px;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 0 1rem;
  font-size: 14px;
}

.suffix-dropdown-container 
{
  position: relative;
  display: inline-block;
  min-width: 70px;
  outline: none;
}

.dropdown-button 
{
  background-color: #fef6e9;
  border: none;
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  color: #000000;
  box-shadow: 0 0 3px #fef6e9;
  width: 80px;
  height: 40px;
  text-align: center;
} 
.dropdown-button:active,
.dropdown-button:focus {
  outline: none;
}

.dropdown-menu 
{
  position: absolute;
  background-color: #fef6e9;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  list-style: none;
  width: 100%;
  z-index: 1000;
}

.dropdown-menu li 
{
  padding: 5px 12px;
  cursor: pointer;
  text-align: center;
  background-color:#fef6e9;

}

.dropdown-menu li:hover {
  background-color: #f59643;
}

.registrationCheckboxContainer 
{
  display: flex;
  align-items: center;
  width: 350px;
  gap: 2rem;
  border-color: #f59643;
}

.registrationCheckbox 
{
  width: 30px;
  height: 30px;
}

.fileSelect {
  border: 2px dashed #ccc;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: border-color 0.2s;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 347px;
  height: 150px;
}

.fileSelect:hover {
  border-color: #888;
}

.validateButton {
  position: absolute;
  right: 30%;
  margin-top: 1.5rem;
}

.termsCheckbox {
  margin-top: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: .5rem;
}

.termsCheckbox input {
  display: none;
} .termsCheckbox input:checked + .actualCheckbox {
  background-color: #f59643;
  border-color: #f59643;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.actualCheckbox {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #3B7080;
  border-radius: 4px;
  position: relative;
}