@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.aboutPage 
{
    background-color: #FFF9EF;
}
.aboutPage {
    background-color: #fff9ef;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutBackground 
{
    width: 100vw;
    height: 100vh;

    background-color: #343331;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    background-image: url("../../recources/SVG files/background_pictures/Background_about_us.svg");
    background-size: cover;
}

.about {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    margin-top: 6rem;
    background-color: rgba(255, 255, 255, 50%);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    width: 1200px;
    height: 500px;

    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
}

.imageLogo {
    background-image: url("../../recources/SVG files/komunijob_logo.svg");
    background-size: cover;
    background-color: #FFF9EF;
    border-radius: 32px;
    width: 400px;
    height: 400px;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 600px;
    height: 400px;
    color: black;
} .aboutText h1 {
    margin-bottom: 1rem;
    color: #22424C;
    text-shadow: 0px 0px 5px rgba(83,83,83,0.48);
} .aboutText h2 {
    margin-bottom: .5rem;
    color: #22424C;
    text-shadow: 0px 0px 5px rgba(83,83,83,0.48);
} .aboutText h3 {
    color: #22424C;
    text-shadow: 0px 0px 5px rgba(83,83,83,0.48);

}

/*----------------------------------------------------------------------*/

.missionVisionBackground {
    width: 100vw;
    height: 100vh;

    background-image: url("..\\..\\recources\\SVG files\\background_pictures\\lake.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.missionVisionContainer {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 1000px;
    height: 600px;
}

.missionVisionHeader {
    border: 3px solid rgba(72, 0, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.missionVisionHeader h2{
    text-align: center;
    color: #22424C;
}

.missionVisionCardContainer {
    color: white;
    background-color:rgba(0, 128, 0, 0);
    width: 1000px;
    height: 486px;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.missionVisionCard {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: #22424C;
    text-align: center;
    background-color: rgba(255, 255, 255, 50%);
    backdrop-filter:blur(15px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 380px;
}


/*----------------------------------------------------------------------*/
.teamSection {
    width: 100vw;
    height: 115vh;

    background-color: #FFF9EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamSectionContainer {
    color: #22424C;
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

.teamCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.teamCard {
    font-family: 'Varela Round', sans-serif;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 50%);
    backdrop-filter: blur(15px);
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 300px;
    margin: 0.5rem;
}


.teamImage {
    width: 200px;
    height: 300px;
    border-radius: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    overflow:hidden;
    transition: transform 0.3s ease;
}

/* Member-specific background images */
.teamImage.lance {
    background-image: url("..\\..\\recources\\SVG files\\profiles\\Lance.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.teamImage.josh {
    background-image: url("..\\..\\recources\\SVG files\\profiles\\Joshua.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.teamImage.rein {
    background-image: url("..\\..\\recources\\SVG files\\profiles\\Rein.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.teamImage.mark {
    background-image: url("..\\..\\recources\\SVG files\\profiles\\Mark.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.teamImage.naomi {
    background-image: url("..\\..\\recources\\SVG files\\profiles\\naomi.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.teamImage.shawnlee {
    background-image: url("..\\..\\recources\\SVG files\\profiles\\Shawnlee.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.teamImage.gelo {
    background-image: url("..\\..\\recources\\SVG files\\profiles\\Angelo.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.teamImage:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.teamImage::after {
    font-family: 'Varela Round', sans-serif;
    content: attr(data-name); 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: rgba(224, 124, 31, 0.7); 
    color: #fff; 
    font-size: 20px; 
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    white-space: pre-line; 
}


.teamImage:hover::after {
    opacity: 1; 
}

/*----------------------------------------------------------------------*/

.unGoals {
    width: 100vw;
    height: 110vh;
    

    background-color: #3B7080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unGoalsContainer {
    border: 2px solid rgba(0, 0, 0, 0);
    width: 1200px;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    color: white;
}

.unCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    gap: 1rem;
}

.unCard1 {
    background-image: url("../../../frontend\recources\SVG files\card pictures\SDG1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 300px;
    border-radius: 10px;
}
.unCard2{
    background-image: url("../../../frontend\recources\SVG files\card pictures\SDG8.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(196, 196, 196);
    width: 250px;
    height: 300px;
    border-radius: 10px;
}
.unCard3{
    background-image: url("../../../frontend\recources\SVG files\card pictures\SDG10.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(196, 196, 196);
    width: 250px;
    height: 300px;
    border-radius: 10px;
}
.unCard4{
    background-image: url("../../../frontend\recources\SVG files\card pictures\SDG11.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(196, 196, 196);
    width: 250px;
    height: 300px;
    border-radius: 10px;
}
.unCard5{
    background-image: url("../../../frontend\recources\SVG files\card pictures\Group 110.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: rgb(196, 196, 196);
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

/*----------------------------------------------------------------------*/

.youthParticipation {
    width: 100vw;
    height: 90vh;

    background-color: #FFF9EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youthParticipationContainer {
    border: 2px solid rgba(0, 0, 0, 0);
    width: 1050px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: #22424C;
}

.youthCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    gap: 1rem
}

.youthCard {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 515px;
    height: 230px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.youthCardIcon {
    border: 2px solid rgba(0, 0, 0, 0);
    width: 150px;
    height: 150px;
}

.youthCardIcon.economicEmpowerment {
    background-image: url("..\\..\\recources\\SVG files\\card pictures\\economic.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.youthCardIcon.governance {
    background-image: url("..\\..\\recources\\SVG files\\card pictures\\governance.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.youthCardIcon.activeCitizenship {
    background-image: url("..\\..\\recources\\SVG files\\card pictures\\active.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.youthCardIcon.socialInclusion {
    background-image: url("..\\..\\recources\\SVG files\\card pictures\\social.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.youthCardTexts {
    border: 2px solid rgba(0, 0, 0, 0);
    color: #22424C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    

    width: 310px;
    height: 190px;
} .youthCardTexts h3 {
    margin-bottom: 1rem;
}


/*----------------------------------------------------------------------*/

.aboutFooter {
    width: 100vw;
    height: 70vh;

    background: linear-gradient(to bottom, #FFF9EF, #F59643);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutFooterContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 250px;
    width: 900px;
    gap: 10rem;
}

.aboutFooterLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: fit-content;
    height: 250px;
}

.sectionHead {
    margin-bottom: 0.5rem;
}