.aboutPage 
{
    background-color: #FFF9EF;;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutBackground 
{
    width: 100vw;
    height: 100vh;

    background-color: #343331;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../recources/SVG files/background_pictures/Background_about_us.svg");
    background-size: cover;
    
    
 
}

.about {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    margin-top: 6rem;
    background-color: white;
    border-radius: 20px;
    width: 1200px;
    height: 500px;
}

.imageLogo {
    background-image: url("../../recources/SVG files/komunijob_logo.svg");
    background-size: cover;
    border-radius: 20px;
    width: 400px;
    height: 400px;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 600px;
    height: 400px;
    color: black;
} .aboutText h1 {
    margin-bottom: 1rem;
} .aboutText h2 {
    margin-bottom: .5rem;
} .aboutText h3 {
    color: rgb(59, 59, 59);
}

/*----------------------------------------------------------------------*/

.missionVisionBackground {
    width: 100vw;
    height: 100vh;

    background-image: url("..\\..\\recources\\SVG files\\background_pictures\\lake.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.missionVisionContainer {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 1000px;
    height: 600px;
}

.missionVisionHeader {
    border: 3px solid rgba(72, 0, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.missionVisionHeader h2{
    text-align: center;
    color: #22424C;
}

.missionVisionCardContainer {
    color: white;
    background-color:rgba(0, 128, 0, 0);
    width: 1000px;
    height: 486px;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.missionVisionCard {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: #22424C;
    text-align: center;
    background-color: rgba(255, 255, 255, 50%);
    backdrop-filter:blur(15px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 380px;
}


/*----------------------------------------------------------------------*/

.teamSection {
    width: 100vw;
    height: 115vh;

    background-color: #FFF9EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamSectionContainer {
    color: #22424C;
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

.teamCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.teamCard {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 50%);
    backdrop-filter: blur(15px);
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 300px;
    margin: 0.5rem;
}

/*----------------------------------------------------------------------*/

.unGoals {
    width: 100vw;
    height: 110vh;

    background-color: #3B7080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unGoalsContainer {
    border: 2px solid black;
    width: 1200px;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    color: white;
}

.unCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    gap: 1rem;
}

.unCard {
    border: 2px solid black;
    background-color: rgb(196, 196, 196);
    width: 250px;
    height: 300px;
}

/*----------------------------------------------------------------------*/

.youthParticipation {
    width: 100vw;
    height: 90vh;

    background-color: #FFF9EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youthParticipationContainer {
    border: 2px solid black;
    width: 1050px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: black;
}

.youthCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    gap: 1rem
}

.youthCard {
    border: 2px solid black;
    background-color: rgb(196, 196, 196);
    width: 515px;
    height: 230px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.youthCardIcon {
    border: 2px solid black;
    width: 150px;
    height: 150px;
}

.youthCardTexts {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 310px;
    height: 190px;
} .youthCardTexts h3 {
    margin-bottom: 1rem;
}

/*----------------------------------------------------------------------*/

.aboutFooter {
    width: 100vw;
    height: 70vh;

    background: linear-gradient(to bottom, #FFF9EF, #F59643);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutFooterContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 250px;
    width: 900px;
    gap: 10rem;
}

.aboutFooterLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: fit-content;
    height: 250px;
}

.sectionHead {
    margin-bottom: 0.5rem;
}