.credential-container {
    display: flex;
}

/* Container Styling */
.credential-form {
    width: 400px; /* or any width you prefer */
    margin-top: 2rem;
    margin-left: auto;  /* pushes the form to the right */
    margin-right: 1rem; /* optional: adds spacing from the right edge */
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 12px;
    background-color: #000000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Title */
.credential-form h1 {
    margin-bottom: 30px;
    text-align: center;
}

/* Input Fields */
.credential-field {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 8px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.credential-field:focus {
    border-color: #8800ff;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Link-style Buttons */
.link-button {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    width: fit-content;
    margin: 0 auto;
}

.link-button:hover {
    color: #1d6fa5; 
}

/* Submit Button */
.submit-button {
    background-color: #e50914;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
    background-color: #2980b9;
}
