.home {
  background-color: #FFF9EF;
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 900px) {
  .home {
    padding: 1rem 0;
  }
}

.mottoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  
  min-width: 900px;
  max-height: 1000px;
}

.motto {
  display: flex;
  flex-direction: column;

  color: #fff;
  background-color: #f59643;
  font-size: smaller;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 320px;

  width: 1100px;
  height: 550px;

  gap: 1rem;
} 

.motto hr {
  margin: 6px;
  border: 2px solid #FFF9EF;
}

.startLink {
  width: 220px;
}

.startButton 
{
  color: #FFF9EF;
  width: 220px;
  align-self: flex-start;
  padding: 10px 16px;
  background-color: #f59643;
  border: 2px solid #FFF9EF;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  cursor: pointer;
  font-size: 25px;
<<<<<<< HEAD
} 

.startButton:hover
 {
  color: #f59643;
  border: 2px solid #f59643;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.startButton:focus{
  outline:none;
=======
} .startButton:hover {
  outline: none;
  color: white;
  border: none;
  background-color: #f59643;
} .startButton:focus {
  outline: none;
>>>>>>> 6be6aa902e6720ab0a5c44cd97f03dce3147494b
}

.introduction {
  width: 100vw;
  height: 750px;
  background-color: #f59643;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.introductionContainer {
  width: 1200px;
  height: 600px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} .introductionContainer hr {
  width: 100%;
  border: 3px solid black;
  border-radius: 200px;
}

.introductionHeaderContainer {
  color: black;
  width: 1200px;
  height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
} .introductionHeaderContainer h1 {
  font-size: 2rem;
} .introductionHeaderContainer h2 {
  font-size: 1.5rem;
}

.introductionCardsContainer {
  width: 1200px;
  height: 480px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 60px;
}
.introductionCard {
  background-color: rgba(255, 255, 255, 0.591); /* red with 50% opacity */
  border-radius: 30px;
  width: 370px;
  height: 430px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 1rem;
} .introductionCard hr {
  width: 100%;
  border: 1px solid black;
  border-radius: 200px;
}

.homeCardIcon {
  width: 60px;
  height: 60px;
  background:url(''); /* image here */
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
}

.homeCardText {
  height: 190px;
  padding-top: 10px;
  color: black;
  font-size: .5rem;
  display: flex;
}

.homeCardFooter {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
} .homeCardFooter h1 {
  font-size: 1rem;
  color: #fff;
}