.navbar {
  color: black;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: black;
  padding-left: 50px;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  padding-right: 50px;
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: black;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  color: black;
  background-color: rgba(81, 16, 16, 0.1);
}

.navButton {
  background-color: orange;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
} .navButton:hover {
  border-color: black;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}