.navBar {
  color: black;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; /* Keeps it above other elements */
  background-color: white; /* Optional: Prevents overlap transparency */
}

.logoIcon {
  width: 60px;
  height: 60px;
  background-color: red; /* Remove this when image is placed */
  background-image: url('/path/to/icon.png'); /* Replace with actual icon path */
  background-size: cover;
  margin-right: 5px;
} .iconImage:hover {
  cursor: pointer;
}

.navBarBrand {
  color: black;
  padding-left: px;
  font-size: 2rem;
  font-weight: bold;

  display: flex;
  align-items: center;
}

.navBarTitle {
  color: black;
  text-decoration: none;
  padding-left: 5px;
} .navBarTitle:hover {
  color: black;
}

.navBarLinks {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  padding-right: 5px;
  display: flex;
  gap: 2rem;
}

.navLink {
  color: black;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
} .navLink:hover {
  color: black;
}

.navButton {
  color: #f59643;
  background-color: white;
  border-color: rgb(218, 218, 218);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
} .navButton:hover {
  color: white;
  border-color: #f59643;
  background-color: #f59643;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}