.registerPageContainer {
    background-color: burlywood;
    height: 100%;
    width: 100%;
}

.navBarContainer {
    background-color: white;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 8rem;
    padding-right: 8rem;
}

.navBar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    background-color: yellow;
    width: 100px;
    height: 50px;
}

.title {
    font-size: 22px;
    width: fit-content;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    padding-right: 50px;
    display: flex;
    gap: 2rem;
}

.titleLink {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.navLink {
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.navLink:hover {
    color: black;
    background-color: rgba(81, 16, 16, 0.1);
}

.navLinkButton {
    font-size: 1.5rem;
    background-color: orange;
    padding: 1rem;
    border-radius: 200px;

    text-decoration: none;
    color: black;
    border: 1px solid orange;
}

.navLinkButton:hover {
    border: 1px solid black;
}

.registerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.signUp {
    padding: 1rem;
    background-color: white;
    width: 1000px;
    height: 600px;

    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp hr {
    margin-top: 1.2rem;
    width: 50rem;
    border: 1px solid black;
}

.headerRow {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    height: 50px;
}

.textFields {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 10px;
}

.textField {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.textField label {
    font-size: 14px;
    margin-bottom: 4px;
}

.textField input {
    width: 350px;
    height: 45px;
    font-size: 20px;
    padding: 4px 15px;
    border: 1.5px solid black;
    border-radius: 15px;
}

.longField {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.longField label {
    font-size: 14px;
    margin-bottom: 4px;
}

.longField input {
    width: 350px;
    height: 45px;
    font-size: 20px;
    padding: 4px 15px;
    border: 1.5px solid black;
    border-radius: 15px;
}

.nextButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    font-size: 30px;
    width: 210px;
    padding: 10px 0;
    background-color: white;
    color: orange;
    border: none;
    border-radius: 30px;
    border: 2px solid orange;
    cursor: pointer;
}

.buttonRow {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-top: 3rem;
}

.nextButton:hover {
    background-color: orange;
    color: white;
}

input.error {
    border: 1px solid red;
}

.accountSetup {
    padding: 1rem;
    background-color: white;
    width: 1000px;
    height: 520px;

    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountSetup hr {
    margin-top: 1.2rem;
    width: 50rem;
    border: 1px solid black;
}

.accountFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    gap: 20px;
}

.accountFields input {
    width: 350px;
    height: 45px;
    font-size: 20px;
    padding: 4px 15px;
    border: 1.5px solid black;
    border-radius: 15px;
}

.accountFields input.error {
    border: 1px solid red;
}
