.dashboard {
    background-color: #FFF9EF;
    
    display: flex;
    height: 200vh;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    width: 87vw;
    height: 8vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.searchIcon {
    color: #F59643;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.searchBar input {
    color: black;
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
    background: transparent;
}

/*=====================================================*/

.jobList {
    width: 100vw;
    height: 200vh;

    padding: 2rem;
    margin-left: 8vw;
}

.jobContainer {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    padding: 3rem;
    margin-top: 2.5rem;
    width: 87vw;
    height: 180vh;
}

.jobHeader {
    color: #F59643;
    width: 100%;
    height: 100px;
} .jobHeader hr {
    margin-top: 0.5rem;
    border: 3px solid #22424C;
    border-radius: 10px;
}

.jobPostContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: space-between;
}

.jobPost {
    background-color: white;
    border-radius: 20px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    width: 580px;
    height: 275px;

    display: flex;
    flex-direction: row;
    
    padding: 1.5rem;
    gap: 1rem;
}

.jobImage {
    padding: 1rem;
    background-color: blue;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    width: 225px;
    height: 225px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.jobDetails {
    max-width: 290px;
    max-height: 225px;
    width: 290px;
    height: 225px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.jobIntro {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    width: 290px;
    height: 160px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: .5rem;
    font-size: 1.2rem;
}

.viewButton {
    background-color: #FFF9EF;
    color: #F59643;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    font-size: 1.8rem;

    padding: 0.5rem;
    
    width: 140px;
    height: 70px;
} .viewButton:hover {
    outline: none;
    color: #FFF9EF;
    background-color: #F59643;
    border: none;
} .viewButton:focus {
    outline: none;
}

.jobStatusContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    max-width: 290px;
    width: 290px;
    max-height: 80px;
    height: 80px;

    gap: 0.5rem;;
}

.jobStatus {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1.3rem;
}