
.dashboardNav {
    background-color: #FFF9EF;
    width: 6vw;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    position: fixed;
    z-index: 999;
}

.dashboardLogo {
    border-radius: 10px;
    background-color: white; 
    background-image: url("../../recources/SVG files/komunijob_logo.svg");
    background-size: cover;
    width: 70px;
height: 70px;
} .dashboardLogo:hover {
    background-image: url("../../recources/SVG files/komunijob_hover.svg");
}

.dashboardButtonRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.jobListingButton {
    color: #F59643; /*this page is active*/
    width: 60px;
    height: 60px;
} .jobListingButton:hover {
    color: #22424C;    
} .jobListingButton.active {
    color: #22424C; /*this should turn into #22424C when this page is active*/
    width: 60px;
    height: 60px;
}

.createButton {
    color: #F59643; /*this should turn into #22424C when this page is active*/
    width: 60px;
    height: 60px;
} .createButton:hover {
    color: #22424C;    
} .createButton.active {
    color: #22424C; /*this should turn into #22424C when this page is active*/
    width: 60px;
    height: 60px;
}

.jobPostedButton {
    color: #F59643;
    width: 60px;
    height: 60px;
} .jobPostedButton:hover {
    color: #22424C;    
}

.profileButton {
    color: #F59643;
    width: 60px;
    height: 60px;
} .profileButton:hover {
    color: #22424C;    
} .profileButton.active {
    color: #22424C; /*this should turn into #22424C when this page is active*/
    width: 60px;
    height: 60px;
}

.inboxButton {
    color: #F59643;
    width: 60px;
    height: 60px;
} .inboxButton:hover {
    color: #22424C;    
} .inboxButton.active {
    color: #22424C; /*this should turn into #22424C when this page is active*/
    width: 60px;
    height: 60px;
}

.settingsButtonContainer {
    display: flex;
    flex-direction: row;
}

.settingsButton {
    background-color: transparent;
    color: #F59643;
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
} .settingsButton:hover {
    color: #22424C;    
} .settingsButton.active {
    color: #22424C; /*this should turn into #22424C when this page is active*/
    width: 60px;
    height: 60px;
}

.settingsPopUp {
    width: 380px;
    height: 150px;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;

    position: absolute;
    left: 90%;
    bottom: 4%;
}

.settingsPopUpIcon {
    background-color: transparent;
    color: #F59643;
    width: 50px;
    height: 50px;
} .settingsPopUpIcon:hover {
    color: #22424C;
}

.settingsPopUpTop {
    width: 100%;
    height: 50%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
    background-color: transparent;
    color: black;
    font-size: 0.8rem;
} .settingsPopUpTop:hover {
    background-color: #F59643;
    color: white;
} .settingsPopUpTop:hover .settingsPopUpIcon {
    color: #22424C;
}

.settingsPopUpBottom {
    width: 100%;
    height: 50%;

    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
    background-color: transparent;
    color: black;
    font-size: .8rem;
} .settingsPopUpBottom:hover {
    background-color: #F59643;
    color: white;
} .settingsPopUpBottom:hover .settingsPopUpIcon {
    color: #22424C;
}